.foo {
float: left;
width: 20px;
height: 20px;
margin: 5px;
border: 1px solid rgba(0, 0, 0, .2);
}

.red {
background: red;
}

.blue {
background: blue;
}

.green {
background: green;
}

.black {
background: black;
}